In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv('D:/Py/Notebooks/Bank Deposit Classification/banktest_X.csv')

In [66]:
df.shape

(1125, 20)

In [67]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed'],
      dtype='object')

### Do the transformations and preprocessing steps that were done on the training data

In [68]:
#drop some columns
X = df.drop(columns=['duration','month','day_of_week','pdays','previous'])

In [69]:
#convert categoricals into dummies
dumlist = ['job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'poutcome']
X = pd.get_dummies(X,columns=dumlist,prefix=dumlist,drop_first=True)
X.head()

,age,campaign,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,job_entrepreneur,job_housemaid,...,education_professional.course,education_university.degree,education_unknown,default_unknown,housing_unknown,housing_yes,loan_unknown,loan_yes,contact_telephone,poutcome_success
0,53,2,-1.8,92.893,-46.2,1.299,5099.1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,37,2,-1.8,93.075,-47.1,1.405,5099.1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,27,4,-1.8,92.893,-46.2,1.266,5099.1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,54,2,-2.9,92.963,-40.8,1.268,5076.2,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4,34,1,-0.1,93.200,-42.0,4.153,5195.8,1,0,0,...,1,0,0,0,0,1,0,1,0,0

In [70]:
X.columns

Index(['age', 'campaign', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_unknown', 'housing_unknown',
       'housing_yes', 'loan_unknown', 'loan_yes', 'contact_telephone',
       'poutcome_success'],
      dtype='object')

In [71]:
#two missing columns, so we create them?

illiterate = []
defaultyes = []
for i in range(0,X.shape[0]):
    illiterate.append(0)
    defaultyes.append(0)
    
X['education_illiterate'] = illiterate
X['default_yes'] = defaultyes

In [72]:
X.shape

(1125, 36)

In [73]:
#now we do the standardization

from sklearn.preprocessing import StandardScaler
myscaler = StandardScaler()
myscaler.fit(X)
X_scaled = myscaler.transform(X)

### Load saved model and apply to test data

In [74]:
import pickle

# load the model from disk
filename = 'D:/Py/Notebooks/Bank Deposit Classification/bankdeposit_model.pkl'

loaded_model = pickle.load(open(filename, 'rb'))

In [75]:
loaded_model.get_params()

{'C': 3,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'liblinear',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [76]:
#predict for scaled test data
yhattest = loaded_model.predict(X_scaled)

In [77]:
#load actual ytest values from file
ydf = pd.read_csv('D:/Py/Sets/banktest_Y.csv')

In [78]:
ydf.head()

     y
0   no
1  yes
2  yes
3   no
4   no

In [79]:
ytest = np.array(ydf['y'])

In [80]:
#check accuracy of prediction

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [81]:
accuracy_score(ytest,yhattest)

0.6897777777777778

In [82]:
print(classification_report(ytest,yhattest))

              precision    recall  f1-score   support

          no       0.74      0.91      0.81       836
         yes       0.17      0.06      0.08       289

    accuracy                           0.69      1125
   macro avg       0.45      0.48      0.45      1125
weighted avg       0.59      0.69      0.63      1125